<div class="row">
    <div class="col-md-5" *ngIf="!vote">
        <h2>Peoples Choice Entries</h2>
        <form class="col-md-12">
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let entry of entries">
                    <div class="input-group">
                        <input type="radio" aria-label="..." id="{{entry._id}}" (click)="selectEntry(entry)" name="entry.contest">
                        <label for="{{entry._id}}">{{entry.style}}</label>
                    </div>
                </li>
            </ul>
        </form>
        <button class="btn btn-warning" (click)="castVote()">Cast My Vote</button>
    </div>
    <div class="col-md-5" *ngIf="vote">
        Thanks for playing, we've already recorded a vote for you!
    </div>
</div>