<h1>
    {{title}}
</h1>
<div class="container">
    <router-outlet></router-outlet>
</div>
<footer class="footer">
    <div class="container">
        <a routerLink='/entries' routerLinkActive='active' class='btn btn-default'>Entries</a>
        <a routerLink="/styles" routerLinkActive="active" class='btn btn-default'>Style Vote</a>
        <a routerLink="/peoples" routerLinkActive="active" class='btn btn-default'>Peoples Choice Vote</a>
        <a routerLink="/peoples/results" routerLinkActive="active" class='btn btn-default'>Peoples Results</a>
        <a routerLink="/styles/results" routerLinkActive="active" class='btn btn-default'>Style Results</a>
    </div>
</footer>