.container {
    margin-top: 30px;
}

.fb-login-button {
    padding-top: 15px;
    padding-left: 15px;
}

.navbar-header {
    margin-right: 15px;
}

.content {
    margin-top: 17px;
}

.no-vote {
    padding-top: 15px;
}